<div class="stock-pan">
    <div class="row">
      <div class="col-md-10 ">
        <h2> Intraday 8 mins difference.</h2>
      </div>
    </div>
    <div class="row seperator">
      <div class="col-md-12">
        <div class="row seperator">
        </div>
      </div>
    </div>
    <div class="row seperator">
      <div class="col-md-2">
        <label for="start">Start Time:</label>
        <input class="form-control" type="time" id="start" name="startDate"
          (change)="onDateChange($event.target.value,true)" />
      </div>
      <div class="col-md-2">
        <label for="start">End Time:</label>
        <input class="form-control" type="time" id="end" name="endDate"
          (change)="onDateChange($event.target.value,false)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
              style="margin-left:10px; margin-right:10px;">
              <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'CALL')">{{chk.name}}</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h4>Call</h4>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-info" (click)="getData('CALL')"> Get Call</button>
                  </div>
            </div>
            <div class="row seperator"></div>
            <table id="equityTable">
              <tr>
                <th class="word">Date</th>
                <th class="word" (click)="callSortBy('postionsVol',!sortDir)">Chg-Vol</th> 
                <th class="word" (click)="callSortBy('oi',!sortDir)">OI</th>
                <th class="word" (click)="callSortBy('chnginOI',!sortDir)">COI</th>
                <th class="word" (click)="callSortBy('volume',!sortDir)">Volume</th>
                <th class="word">IV</th>
                <th class="word">LTP</th>
                <th class="word" (click)="callSortBy('strikePrice',!sortDir)">SP</th>
              </tr>
              <tr *ngIf="callIntradayYesterdayToday == ''">No record found for above search....!</tr>
             
              <tr *ngFor="let equity of callIntradayYesterdayToday;let i = index">

                <td>{{equity.date| date: 'hh-mm'}}</td>
                <td *ngIf="equity.postionsVol!=='NaN'">{{equity.postionsVol | number:'1.1-1'}}</td> 
                <td><label>{{equity.oi}}</label>
                </td>
                <td><label>{{equity.chnginOI}}</label>
                   <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.chnginDif}}</label> 
                </td>
                <td>
                  <label>{{equity.volume | number:'1.1-1'}}</label>
                   <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.volumeDif | number:'1.1-1'}}</label> 
                </td> 
                <td><label>{{equity.iv | number:'1.1-1'}}</label>
                   <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.iv | number:'1.1-1'}}</label> 
                </td>
                <td><label >{{equity.ltp | number:'1.1-1'}}</label>
                   <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.ltp | number:'1.1-1'}}</label> 
                </td>
                <td>{{equity.strikePrice}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
                style="margin-left:10px; margin-right:10px;">
                <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'PUT')">{{chk.name}}</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-10">
                  <h4>PUT</h4>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-info" (click)="getData('PUT')"> Get Put</button>
                </div>
              </div>
              <div class="row seperator"></div>
              <table id="equityTable">
                <tr class="word">
                  <th class="word" (click)="putSortBy('strikePrice',!sortDir)">SP</th>
                  <th class="word">LTP</th>
                  <th class="word">IV</th>
                  <th class="word" (click)="putSortBy('volume',!sortDir)">Volume</th> 
                  <th class="word" (click)="putSortBy('chnginOI',!sortDir)">C-OI</th>
                  <th  class="word" (click)="putSortBy('oi',!sortDir)">OI</th>
                  <th class="word" (click)="putSortBy('postionsVol',!sortDir)">Chg-Vol</th> 
                  <th class="word">Date</th>
                </tr>
                <tr *ngFor="let equity of putIntradayYesterdayToday;let i = index">

                    <td>{{equity.strikePrice}}</td>
                    <td>
                        <label >{{equity.ltp | number:'1.1-1'}}</label>
                        <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.ltp| number:'1.1-1'}}</label>
                    </td> 
                     <td>
                          <label class="strikethrough">{{equity.iv | number:'1.1-1'}}</label>
                          <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.iv | number:'1.1-1'}}</label>
                    </td>
                    <td>
                        <label>{{equity.volume | number:'1.1-1'}}</label>
                        <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.volumeDif | number:'1.1-1'}}</label>
                    </td> 
                    <td>
                        <label class="strikethrough">{{equity.chnginOI}}</label>
                        <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.chnginOI}}</label>
                    </td>    
                    <td>
                      <label class="strikethrough">{{equity.oi}}</label>
                      <label *ngIf="equity.prevEquity!==null">{{equity.prevEquity.oi}}</label>
                    </td>
                    <td *ngIf="equity.postionsVol!=='NaN'">{{equity.postionsVol | number:'1.1-1'}}</td> 
                    <td>{{equity.date| date: 'hh-mm'}}</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>


      </div>
  </div>