<ul>
    <li><a  href="#home">Home</a></li>
    <li><a routerLink="/stock" routerLinkActive="active">Stock Data</a></li>
    <li><a routerLink="/stock-opitons-chain" routerLinkActive="active">Stock Option Chain</a></li>
    <li><a routerLink="/equity" routerLinkActive="active">Nifty Option Chain</a></li>
    <li><a routerLink="/yesterday-today" routerLinkActive="active">Today-Yesterday</a></li>
    <li><a routerLink="/intra-day" routerLinkActive="active">Intra-Day</a></li>
    <li><a routerLink="/exchange-activity" routerLinkActive="active">FII's Data</a></li>
    <li><a routerLink="/premium-decay" routerLinkActive="active">Premium Decay</a></li>
    
    <!-- <li><a routerLink="/all-data-download">All Data Download</a></li> -->
  </ul>
