<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a routerLink="/stock">Stock Data</a></li>
    <li><a routerLink="/stock-opitons-chain">Stock Option Chain</a></li>
    <li><a routerLink="/equity">Nifty Option Chain</a></li>
    <li><a routerLink="/yesterday-today">Today-Yesterday</a></li>
    <li><a routerLink="/intra-day">Intra-Day</a></li>
    <li><a routerLink="/exchange-activity">FII's Data</a></li>
    <!-- <li><a routerLink="/all-data-download">All Data Download</a></li> -->
  </ul>
