<div class="stock-pan">
  <div class="row">
    <div class="col-md-6 ">
      <h2> Stock Details</h2>
    </div>
    <!-- <div class="col-md-6 seperator">
      <div class="col-md-2">
        <button class="btn btn-danger" (click)="loadData()"> Import Data</button>
      </div>
    </div> -->
  </div>

  <div class="row seperator">
    <div class="col-md-12">
      <div class="row seperator">
        <div class="col-md-2">
          <label for="start">Start date:</label>
          <input class="form-control" type="date" id="start" name="startDate"
            (change)="onDateChange($event.target.value,true)" />
        </div>
        <div class="col-md-2">
          <label for="start">End date:</label>
          <input class="form-control" type="date" id="end" name="endDate"
            (change)="onDateChange($event.target.value,false)">
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" (click)="getAllStocksDataList()"> Search</button>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          Note <br><b>ON :</b> Greater value<br>
          <b>OFF : </b> Less value

          <div class="row">
            <div class="col-md-6" *ngFor="let chk of checkBoxFilter" class="checkbox"
              style="margin-left:10px; margin-right:10px;">
              <label><input type="checkbox" (change)="checkValue($event.target.checked,chk)">{{chk.name}}</label>
              <label class="switch" style="margin-left:10px;margin-top: 9px;">
                <input type="checkbox" checked (change)="directionValue($event.target.checked,chk)">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <label>Total stocks : {{stocks.length}}</label>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">Date</th>
            <th (click)="sortBy('name',!sortDir)">Name</th>
            <th class="sort-arrow" (click)="sortBy('closePrice',!sortDir)">Close Price</th>
            <th class="sort-arrow" (click)="sortBy('ttlTradeQty',!sortDir)">Trade Qty</th>
            <th class="sort-arrow" (click)="sortBy('deliveryQty',!sortDir)">Del Qty</th>
            <th class="sort-arrow" (click)="sortBy('deliveryPer',!sortDir)">Del Per</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks;let i = index">
            <td>{{stock.date| date: 'dd/MM/yyyy'}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.closePrice}}</td>
            <td>{{stock.ttlTradeQty}}</td>
            <td>{{stock.deliveryQty}}</td>
            <td>{{stock.deliveryPer}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>