<div class="stock-pan">
  <div class="row">
    <div class="col-md-10 ">
      <h2> Option Chain Nifty / Stocks.</h2>
    </div>
   <!--  <div class="col-md-2">
      <button class="btn btn-default" (click)="loadEquityData()"> Import Data</button>
    </div> -->
  </div>
  <div class="row seperator">
    <div class="col-md-12">
      <div class="row seperator">
      </div>
    </div>
  </div>
  <div class="row seperator">
    <div class="col-md-2">
      <label for="start">Strike Price:</label>
      <input class="form-control" type="text" id="strikePrice" name="strikePrice"
        (change)="onStrikeChange($event.target.value)">
    </div>
    <div class="col-md-3">
      <label for="days">Symbol:</label>
      <select class="form-control" (change)="symbolDropDown($event.target.value)">
          <option value=''>
              Nifty
            </option>
        <option *ngFor="let symbol of symbols" value={{symbol.symbol}}>
          {{symbol.companyName}}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="start">Start date:</label>
      <input class="form-control" type="date" id="start" name="startDate"
        (change)="onDateChange($event.target.value,true)" />
    </div>
    <div class="col-md-2">
      <label for="start">End date:</label>
      <input class="form-control" type="date" id="end" name="endDate"
        (change)="onDateChange($event.target.value,false)">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
            style="margin-left:10px; margin-right:10px;">
            <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'CALL')">{{chk.name}}</label>
            <!-- <label class="switch" style="margin-left:10px;margin-top: 9px;">
              <input type="checkbox" checked (change)="directionValue($event.target.checked,chk)">
              <span class="slider round"></span>
            </label> -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <h4>Call</h4>
            </div>
            <div class="col-md-1">
              <button class="btn btn-info" (click)="getData('CALL')"> Get Call</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <table id="customers">
            <tr>
              <th >Date</th>
              <th class="sort-arrow" (click)="callSortBy('oi',!sortDir)">OI</th>
              <th class="sort-arrow" (click)="callSortBy('chnginOI',!sortDir)">COI</th>
              <th>IV</th>
              <th>LTP</th>
              <th>Net-C</th>
              <th>Vol</th>
              <th class="sort-arrow" (click)="callSortBy('strikePrice',!sortDir)">SP</th>
              <th>V/CHI</th>
            </tr>
            <tr *ngFor="let equity of callEquities;let i = index">
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.date| date: 'dd/MM/yy'}}</td>
              <td  *ngIf="equity.oi >0  && equity.iv > 0">{{equity.oi}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.iv}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.ltp}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.netChng}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.volume}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.strikePrice}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI / equity.volume | number:'1.1-1'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
            style="margin-left:10px; margin-right:10px;">
            <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'PUT')">{{chk.name}}</label>
            <!-- <label class="switch" style="margin-left:10px;margin-top: 9px;">
              <input type="checkbox" checked (change)="directionValue($event.target.checked,chk)">
              <span class="slider round"></span>
            </label> -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <h4>PUT</h4>
            </div>
            <div class="col-md-1">
              <button class="btn btn-info" (click)="getData('PUT')"> Get Put</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <table id="customers">
            <tr>
              <th>V/CHI</th>
              <th>Date</th>
              <th  class="sort-arrow" (click)="putSortBy('oi',!sortDir)">OI</th>
              <th class="sort-arrow" (click)="putSortBy('chnginOI',!sortDir)">C-OI</th>
              <th>IV</th>
              <th>LTP</th>
              <th>Net-C</th>
              <th>Vol</th>
              <th class="sort-arrow" (click)="putSortBy('strikePrice',!sortDir)">SP</th>
            </tr>
            <tr *ngFor="let equity of putEquities;let i = index">
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI / equity.volume | number:'1.1-1'}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.date | date: 'dd/MM/yy'}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.oi}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.iv}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.ltp}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.netChng}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.volume}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.strikePrice}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>