.word {
    background: #E0E0E0;
    text-align: center;
    padding: 4px 3px;
    vertical-align: middle;
    font: size 1px;
    border-left:solid 2px #c6c2ba;
    border-top:solid 2px #c6c2ba;
    }
  