<div class="stock-pan">
  <div class="row">
    <div class="col-md-10 ">
      <h2> Premium Decay Calculation.</h2>
    </div>
   <!--  <div class="col-md-2">
      <button class="btn btn-default" (click)="loadEquityData()"> Import Data</button>
    </div> -->
  </div>
  <div class="row seperator">
    <div class="col-md-12">
      <div class="row seperator">
      </div>
    </div>
  </div>
  <div class="row seperator">
    <div class="col-md-2">
      <label for="start">Start date:</label>
      <input class="form-control" type="date" id="start" name="startDate"
        (change)="onDateChange($event.target.value,true)" />
    </div>
    <div class="col-md-2">
      <label for="start">End date:</label>
      <input class="form-control" type="date" id="end" name="endDate"
        (change)="onDateChange($event.target.value,false)">
    </div>
    <div class="col-md-2">
        <label >Spot Price:</label>
       <h4> {{callPremiumDecay[0].currentPrice}} </h4>
      </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
              <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
                style="margin-left:10px; margin-right:10px;">
                <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'CALL')">{{chk.name}}</label>
              </div>
          </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10">
              <h4>Call</h4>
            </div>
            <div class="col-md-1">
              <button class="btn btn-info" (click)="getPremiumDecayData('CALL')"> Get Call</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <table id="customers">
            <tr>
              <th class="word">Date</th>
              <th class="word">OI</th>
              <th class="word" >COI</th>
              <th class="word" >IV</th>
              <th class="word" >LTP</th>
              <th class="word" >SP</th>
            </tr>
            <tr *ngFor="let equity of callPremiumDecay;let i = index">
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.date| date: 'dd/MM/yy'}}</td>
              <td  *ngIf="equity.oi >0  && equity.iv > 0">{{equity.oi}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.iv}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.ltp}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.strikePrice}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
              <div class="col-md-12">
                  <div *ngFor="let chk of checkBoxFilter" class="checkbox check-container"
                    style="margin-left:10px; margin-right:10px;">
                    <label><input type="checkbox" (change)="checkValue($event.target.checked,chk,'PUT')">{{chk.name}}</label>
                  </div>
                </div>
            <div class="col-md-10">
              <h4>PUT</h4>
            </div>
            <div class="col-md-1">
              <button class="btn btn-info" (click)="getPremiumDecayData('PUT')"> Get Put</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <table id="customers">
            <tr>
              <th class="word">SP</th>
              <th class="word">LTP</th>
              <th class="word">IV</th>
               <th class="word">C-OI</th>
              <th class="word">OI</th>
              <th class="word">Date</th>
              
            </tr>
            <tr *ngFor="let equity of putPremiumDecay;let i = index">
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.strikePrice}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.ltp}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.iv}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.chnginOI}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.oi}}</td>
              <td *ngIf="equity.oi >0  && equity.iv > 0">{{equity.date | date: 'dd/MM/yy'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>