<div class="stock-pan">
  <div class="row">
    <div class="col-md-6 ">
      <h2> All data load details Details </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 ">
            <label> Option Chain Nifty / Stocks.</label>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" (click)="loadNiftyOptionsData()"> Import Data</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <div class="row">
            <div class="col-md-4 ">
              <label> Stocks Options Data.</label>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" (click)="loadStocOptionskData()"> Import Data</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <div class="row">
            <div class="col-md-4 ">
              <label> Stocks List.</label>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" (click)="loadStockData()"> Import Data</button>
            </div>
          </div>
          <div class="row seperator"></div>
          <div class="row">
            <div class="col-md-4 ">
              <label> FII's data.</label>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" (click)="loadFiiData()"> Import Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>