/* You can add global styles to this file, and also import other style files */
.stock-pan {
  padding: 5px 20px 20px 20px;
  background-color: #ffffff;
}
label {
  font-weight: bold;
    font-size: 13px;
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}
.srchpan {
  background-color: #C2C2C2;
}
.srchpan span, .srchpan b, .srchpan div{
  float: left;
    margin-right: 14px;
    padding-bottom: 2px;
    font-size: 12px;
}
input,
label {
  margin: .4rem 0;
}

.form-control {
  width: 90%;
  height: 30px;
}
.seperator {
    margin-top: 10px;
    }
    label {
        font: bold;
        font-weight: bold;
    font-size: 13px;
    }
    .sort-arrow{
        cursor: pointer;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: -6px;
        bottom: 0px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      table.fixedTbl th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      th{
        border: 1px solid #aba5a5;
        text-align: left;
        padding: 5px;
        background-color: #E0E0E0 ;
        font-size: 13px;
      }

      th:nth-child(11) {
        border: 1px solid #aba5a5;
        text-align: left;
        padding: 5px;
        background-color: honeydew;
        font-size: 13px;
      }
      td:nth-child(-n+11) {
        border: 1px solid #aba5a5;
        text-align: left;
        padding: 5px;
        background: #fbf5cd !important;;
        font-size: 11px;
      }
     
      td:nth-child(-n+21) {
        border: 1px solid #aba5a5;
        text-align: left;
        padding: 5px;
        background-color: honeydew;
        font-size: 11px;
      }
      .graybg {
        background-color: gray;
        font-weight: bold;
      }
     /*  .option>td {
        background: #fbf5cd;
      } */
       
     /*  tr:nth-child(even) {
        background-color: #fbf2f2;
      } */